<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <meta charset="UTF-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container" style="max-width: 600px">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>

    <div class="py-5 text-center">
        <h1>Item List</h1>
    </div>

    <hr class="my-4">
    <div>
        <table class="table">
            <thead>
            <tr>
                <th th:text="#{label.item.imageFiles}">이미지</th>
                <th th:text="#{label.item.id}">Id</th>
                <th th:text="#{label.item.shop}">매장명</th>
                <th th:text="#{label.item.itemName}">Name</th>
                <th th:text="#{label.item.price}">Price</th>
                <th th:text="#{label.item.quantity}">Stock_Quantity</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item : ${items}">
                <td>
                    <img th:each="imageFile : ${item.imageFiles}" th:src="|/images/${imageFile.getStoreFileName()}|"
                         width="100" height="100"/>
                </td>
                <td th:text="${item.shop}">매장명</a></td>
                <td><a href="item.html" th:href="@{|/items/${item.id}|}"  th:text="${item.id}">item id</a></td>
                <td th:text="${item.itemName}">item name</td>
                <td th:text="|${{item.price}} 원|">item price</td>
                <td th:text="|${{item.stockQuantity}} 개|">item stock quantity</td>
            </tr>
            </tbody>
        </table>

    </div>

    <div th:replace="fragments/footer :: footer"/>
</div>
</body>
</html>