<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Item Detail!</h1>
    <h2 th:if="${param.status}" th:text="'저장 완료'"></h2>

    <div>
        <img th:each="imageFile : ${item.imageFiles}" th:src="|/images/${imageFile.getStoreFileName()}|" width="300" height="300"/>
    </div>
    <div>
        <p th:text="|매장 명 : ${item.shop}|">item shop</p>
    </div>

    <div>
        <p th:text="|아이템 ID : ${item.id}|">item id</p>
    </div>
    <div>
        <p th:text="|아이템 명 : ${item.itemName}|">item name</p>
    </div>
    <div>
        <p th:text="|가격 : ${{item.price}} 원|">item price</p>
    </div>
    <div>
        <p th:text="|잔여 수량 : ${{item.stockQuantity}} 개|">item quantity</p>
    </div>
    <button type="button" onclick="location.href='/items'">목록으로</button>

    <div style="height:50px;"></div>
    <!--주문-->
    <form action="/orders/add" method="post">
        <input type="hidden" name="itemId" th:value="${item.id}">
        <label for="count">수량 : </label>
        <input type="number" id="count" name="count">
        <button type="submit">주문하기</button>
    </form>

</body>
</html>