<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <style>
        .container {
            max-width: 560px;
        }
    </style>
</head>
<body>

<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>

    <div class="py-5 text-center">
        <h1>Item Detail</h1>
    </div>


    <h2 th:if="${param.status}" th:text="'저장 완료'"></h2>

    <div>
        <img th:each="imageFile : ${item.imageFiles}" th:src="|/images/${imageFile.getStoreFileName()}|" width="300" height="300"/>
    </div>
    <div>
        <p th:text="|매장 명 : ${item.shop}|">item shop</p>
    </div>

    <div>
        <p th:text="|아이템 ID : ${item.id}|">item id</p>
    </div>
    <div>
        <p th:text="|아이템 명 : ${item.itemName}|">item name</p>
    </div>
    <div>
        <p th:text="|가격 : ${{item.price}} 원|">item price</p>
    </div>
    <div>
        <p th:text="|잔여 수량 : ${{item.stockQuantity}} 개|">item quantity</p>
    </div>


    <div class="row">
        <div class="col">
            <!--주문-->
            <form action="/orders/add" method="post">
                <input type="hidden" name="itemId" th:value="${item.id}">
                <label for="count">수량 : </label>
                <input type="number" id="count" name="count" class="form-control">
                <button class="w-10 btn btn-secondary btn-lg" type="submit">주문하기</button>
            </form>
        </div>
    </div>
    <hr class="my-4">
    <div class="row">
        <div class="col">
            <!--선물-->
            <form action="/orders/add2" method="post">
                <input type="hidden" name="itemId" th:value="${item.id}">
                <label for="cnt">수량 : </label>
                <input type="number" id="cnt" name="cnt" class="form-control">

                <label for="phone">전화번호 : </label>
                <input type="tel" id="phone" name="phone" class="form-control" pattern="[0-9]{3}[0-9]{4}[0-9]{4}">

                <label for="msg">메시지 : </label>
                <input type="text" id="msg" name="msg" class="form-control">
                <button class="w-10 btn btn-secondary btn-lg" type="submit">선물하기</button>
            </form>
        </div>
    </div>

    <hr class="my-4">
    <button class="w-100 btn btn-secondary btn-lg" type="button" onclick="location.href='/items'">목록으로</button>

    <div th:replace="fragments/footer :: footer"/>
</div>
</body>
</html>