<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
<div class="container">
  <div th:replace="fragments/bodyHeader :: bodyHeader"/>

  <div>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>#</th>
        <th>매장명</th>
        <th>상품명</th>
        <th>주문가격</th>
        <th>주문수량</th>
        <th>주문일시</th>

        <th>주문상태</th>
        <th>주문취소버튼</th>
        <th>발송상태</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="order : ${orders}">
        <td><a href="item.html" th:href="@{|/items/${order.orderItems[0].item.id}|}"  th:text="${order.id}">item id</a></td>
        <td th:text="${order.orderItems[0].item.shopName}"></td>
        <td th:text="${order.orderItems[0].item.itemName}"></td>
        <td th:text="${{order.orderItems[0].orderPrice}}"></td>
        <td th:text="${order.orderItems[0].count}"></td>
        <td th:text="${{order.orderDate}}"></td>

        <td th:text="${order.orderStatus}"></td>
        <td>
          <a th:if="${order.orderStatus.name() == 'ORDER'}" href="#"
             th:href="'javascript:cancel('+${order.id}+')'"
             class="btn btn-danger">CANCEL</a>
        </td>

        <td th:text="${order.delivery.deliveryStatus}"></td>

      </tr>
      </tbody>
    </table>
  </div>
  <div th:replace="fragments/footer :: footer"/>
</div> <!-- /container -->
</body>

<script>
function cancel(id) {
var form = document.createElement("form");
form.setAttribute("method", "post");
form.setAttribute("action", "/orders/" + id + "/cancel");
document.body.appendChild(form);
form.submit();
}
</script>
</html>