<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="header" th:fragment="bodyHeader">
    <ul class="nav nav-pills pull-right">
        <li><a href="/">Home</a></li>
    </ul>
    <a href="/"><h3 class="text-muted">E-Coupon SHOP</h3></a>
    <style>
    body{
            background-image: url(https://img.freepik.com/premium-vector/neutral-abstract-background-minimal-poster-template-with-wave-shapes-calm-design-with-gradient-elements-white-website-wallpaper-modern-soft-texture_583398-400.jpg);
            background-size: cover;
            background-position: center;
            }
    </style>
</div>