<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="header" th:fragment="ownerHeader">
    <ul class="nav nav-pills pull-right">
        <li><a href="/owner">Home</a></li>
    </ul>
    <a href="/owner"><h3 class="text-muted">E-Coupon SHOP</h3></a>
    <form th:action="@{/login/logout}" method="post">
        <button class="btn btn-sm btn-outline-primary btn_prober" type="submit">로그아웃</button>
    </form>
    <style>
    body{
            background-image: url(https://e0.pxfuel.com/wallpapers/548/710/desktop-wallpaper-premium-vector-of-white-and-gold-hexagon-pattern-background-background-patterns-hexagon-pattern-geometric-pattern-background-basic-white.jpg);
            background-size: cover;
            background-position: center;
            }
    </style>
</div>