<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .field-error {
            border-color : #dc3545;
            color : #dc3545;
        }
    </style>
</head>
<body>
<h1>로그인 페이지</h1>
<form th:action th:object="${member}" method="post">
    <div th:if="${#fields.hasGlobalErrors()}">
        <p th:each="err : ${#fields.globalErrors()}" th:text="${err}" class="field-error">전역 오류 메세지</p>
    </div>
    <ul>
        <li>
            <label for="loginId">아이디</label>
            <input type="text" id="loginId" th:field="*{loginId}">
            <div th:errors="*{loginId}" class="field-error">로그인 오류</div>
        </li>
        <li>
            <label for="password">비밀번호</label>
            <input type="password" id="password" th:field="*{password}">
            <div th:errors="*{password}" class="field-error">로그인 오류</div>
        </li>
        <button type="submit">로그인</button>
        <button type="button" onclick="location.href='/'">취소</button>
    </ul>

</form>
</body>
</html>