<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <style>
        .container {
            max-width: 560px;
        }
        .field-error {
            border-color: #dc3545;
            color: #dc3545;
        }
    </style>
</head>
<body>

<div class="container">
    <div th:replace="fragments/ownerHeader :: ownerHeader"/>

    <div class="py-5 text-center">
        <h1>Add Shop</h1>
    </div>

    <form th:action th:object="${shop}" method="post">

        <div th:if="${#fields.hasGlobalErrors()}">
            <p class="field-error" th:each="err : ${#fields.globalErrors()}" th:text="${err}">전체 오류 메세지</p>
        </div>

        <ul>
            <div>
                <label for="shop" th:text="#{label.shop.shopName}">매장 명</label>
                <input type="text" id="shop" th:field="*{shop}" th:errorclass="field-error" class="form-control" placeholder="매장 명을 입력해주세요">
                <div th:errors="*{shop}" class="field-error">매장 명 오류</div>
            </div>

            <div>
                <label for="pos" th:text="#{label.shop.pos}">위치</label>
                <input type="text" id="pos" th:field="*{pos}" th:errorclass="field-error" class="form-control" placeholder="위치을 입력해주세요">
                <div th:errors="*{pos}" class="field-error">위치 오류</div>
            </div>

            <!--
            <br>
            <div>
                <label for="pos">주소</label>
                <div id="pos">
                    <div>
                        <label for="city">도시</label>
                        <input type="text" id="city" th:field="*{city}" class="form-control" th:errorclass="field-error" placeholder="예) 서울">
                        <div th:errors="*{city}" class="field-error">도시명 오류</div>
                    </div>
                    <div>
                        <label for="street">도로명</label>
                        <input type="text" id="street" th:field="*{street}" class="form-control" th:errorclass="field-error" placeholder="ex) ~로 ~길 ~동 ~호">
                        <div th:errors="*{street}" class="field-error">도로명 오류</div>
                    </div>
                    <div>
                        <label for="zipcode">우편번호</label>
                        <input type="text" id="zipcode" th:field="*{zipcode}" class="form-control" th:errorclass="field-error" placeholder="예) 12345">
                        <div th:errors="*{zipcode}" class="field-error">우편번호 오류</div>
                    </div>
                </div>
            </div>
            <br>-->


            <hr class="my-4">

            <div class="row">
                <div class="col">
                    <button class="w-100 btn btn-secondary btn-lg" type="submit" th:text="#{button.save}">저장</button>
                </div>
            </div>
        </ul>
    </form>


    <div th:replace="fragments/footer :: footer"/>
</div>
</body>
</html>

