<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/bootstrap.min2.css}"
          href="../css/bootstrap.min2.css" rel="stylesheet">
    <style>
        .container {
            max-width: 560px;
        }
        .field-error {
            border-color: #dc3545;
            color: #dc3545;
        }
    </style>
</head>
<body>

<div class="container">
    <div th:replace="fragments/ownerHeader :: ownerHeader"/>

    <div class="py-5 text-center">
        <h1>Add Shop</h1>
    </div>

    <form th:action th:object="${shop}" method="post">

        <div th:if="${#fields.hasGlobalErrors()}">
            <p class="field-error" th:each="err : ${#fields.globalErrors()}" th:text="${err}">전체 오류 메세지</p>
        </div>

        <ul>
            <div>
                <label for="shop" th:text="#{label.shop.shopName}">매장명</label>
                <input type="text" id="shop" th:field="*{shop}" th:errorclass="field-error" class="form-control" placeholder="매장명을 입력해주세요">
                <div th:errors="*{shop}" class="field-error">매장명 오류</div>
            </div>

            <div>
                <label for="pos" th:text="#{label.shop.pos}">위치</label>
                <input type="text" id="pos" th:field="*{pos}" th:errorclass="field-error" class="form-control" placeholder="위치를 입력해주세요">
                <div th:errors="*{pos}" class="field-error">위치 오류</div>
                <!--<label for="pos" th:text="#{label.shop.pos}">위치</label>
                <input type="button" onclick="DaumPostcode()" value="우편번호 찾기">
                <input type="text" id="pos" th:field="*{pos}" th:errorclass="field-error" class="form-control" placeholder="위치를 입력해주세요">
                <div th:errors="*{pos}" class="field-error">위치 오류</div>-->

            </div>

            <!--
            <br>
            <div>
                <label for="pos">주소</label>
                <div id="pos">
                    <div>
                        <label for="city">도시</label>
                        <input type="text" id="city" th:field="*{city}" class="form-control" th:errorclass="field-error" placeholder="예) 서울">
                        <div th:errors="*{city}" class="field-error">도시명 오류</div>
                    </div>
                    <div>
                        <label for="street">도로명</label>
                        <input type="text" id="street" th:field="*{street}" class="form-control" th:errorclass="field-error" placeholder="ex) ~로 ~길 ~동 ~호">
                        <div th:errors="*{street}" class="field-error">도로명 오류</div>
                    </div>
                    <div>
                        <label for="zipcode">우편번호</label>
                        <input type="text" id="zipcode" th:field="*{zipcode}" class="form-control" th:errorclass="field-error" placeholder="예) 12345">
                        <div th:errors="*{zipcode}" class="field-error">우편번호 오류</div>
                    </div>
                </div>
            </div>
            <br>-->

            <hr class="my-4">

            <div class="row">
                <div class="col">
                    <button class="w-100 btn btn-secondary btn-lg" type="submit" th:text="#{button.save}">저장</button>
                </div>
            </div>
        </ul>
    </form>
    <div th:replace="fragments/footer :: footer"/>
</div>
</body>

<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js">
    //다음 주소찾기 api
function DaumPostcode() {
    new daum.Postcode({
        oncomplete: function(data) {
            // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

            // 각 주소의 노출 규칙에 따라 주소를 조합한다.
            // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
            var addr = ''; // 주소 변수
            var extraAddr = ''; // 참고항목 변수

            //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
            if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                addr = data.roadAddress;
            } else { // 사용자가 지번 주소를 선택했을 경우(J)
                addr = data.jibunAddress;
            }

            // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
            if(data.userSelectedType === 'R'){
                // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                    extraAddr += data.bname;
                }
                // 건물명이 있고, 공동주택일 경우 추가한다.
                if(data.buildingName !== '' && data.apartment === 'Y'){
                    extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                }
                // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                if(extraAddr !== ''){
                    extraAddr = ' (' + extraAddr + ')';
                }
                // 조합된 참고항목을 해당 필드에 넣는다.
                document.getElementById("seealso").value = extraAddr;

            } else {
                document.getElementById("seealso").value = '';
            }

            // 우편번호와 주소 정보를 해당 필드에 넣는다.
            document.getElementById('postnum').value = data.zonecode;
            document.getElementById("addr").value = addr;
            // 커서를 상세주소 필드로 이동한다.
            document.getElementById("detailaddress").focus();
        }
    }).open();
}
</script>
</html>

