<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <style>
        .container {
            max-width: 560px;
        }
        .field-error {
            border-color: #dc3545;
            color: #dc3545;
        }
    </style>
</head>
<body>

<div class="container">
    <div th:replace="fragments/ownerHeader :: ownerHeader"/>

    <div class="py-5 text-center">
        <h1>쿠폰 수정</h1>
    </div>


<form th:action th:object="${item}" method="post" enctype="multipart/form-data">
    <div th:if="${#fields.hasGlobalErrors()}">
        <p class="field-error" th:each="err : ${#fields.globalErrors()}" th:text="${err}">전체 오류 메세지</p>
    </div>

    <ul>
        <div>
            <label th:for="*{id}" th:text="#{label.item.id}">상품 ID</label>
            <input type="text" th:field="*{id}" class="form-control" readonly>
        </div>

        <div>
            <label th:for="*{shopName}" th:text="#{label.shop.shopName}">매장 명</label>
            <input type="text" th:field="*{shopName}" class="form-control" readonly>
        </div>

        <!--<div>
            <label th:for="*{shop}" th:text="#{label.item.shop}">매장 명</label>
            <input type="text" th:field="*{shop}" th:errorclass="field-error" class="form-control" >
            <div th:errors="*{shop}" class="field-error">매장 명 오류</div>
        </div>-->

        <div>
            <label th:for="*{itemName}" th:text="#{label.item.itemName}">상품 명</label>
            <input type="text" th:field="*{itemName}" th:errorclass="field-error" class="form-control" >
            <div th:errors="*{itemName}" class="field-error">상품명 오류</div>
        </div>

        <div>
            <label>이미지 파일들
                <img th:each="imageFile : ${item.imageFiles}"
                     th:src="|/images/${imageFile.getStoreFileName()}|" width="100" height="100"/>
                <input type="file" multiple="multiple" id="imageFiles" name="imageFiles" class="form-control" th:value="${item.imageFiles}">
            </label>
        </div>
        <div>
            <label th:for="*{price}" th:text="#{label.item.price}">가격</label>
            <input type="text" th:field="*{price}" th:errorclass="field-error" class="form-control" >
            <div th:errors="*{price}" class="field-error">가격 오류</div>
        </div>
        <div>
            <label th:for="*{stockQuantity}" th:text="#{label.item.quantity}">수량</label>
            <input type="text" th:field="*{stockQuantity}" th:errorclass="field-error" class="form-control" >
            <div th:errors="*{stockQuantity}" class="field-error">수량 오류</div>
        </div>

        <hr class="my-4">

        <div class="row">
            <button class="w-100 btn btn-primary btn-lg" type="submit" th:text="#{button.update}">수정</button>
        </div>
    </ul>
    </form>

    <div th:replace="fragments/footer :: footer"/>
</div>
</body>
</html>