<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container" style="max-width: 600px">
    <div th:replace="fragments/ownerHeader :: ownerHeader"/>

    <div class="py-5 text-center">
        <h1>owner info</h1>
    </div>

    <!--
    <div>
        <p th:text="|회원 구분 : ${customer.role}|">customer role</p>
    </div>
    <div>
        <p th:text="|회원 명 : ${customer.name}|">customer name</p>
    </div>
    <div>
        <p th:text="|주소 : ${customer.address.city} ${customer.address.street} ${customer.address.zipcode}|">customer address</p>
    </div>-->

    <hr class="my-4">

    <div class="row">
        <div class="col">
            <button class="btn btn-primary float-end" type="button" onclick="location.href='/owner/shops/add'" th:text="#{page.addShop}">가게 등록</button>
        </div>
    </div>

    <div>
        <table class="table">
            <thead>
            <tr>
                <th th:text="#{label.shop.id}">Id</th>
                <th th:text="#{label.shop.shopName}">매장명</th>
                <th th:text="#{label.shop.pos}">위치</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="shop : ${shops}">

                <td><a href="shop.html" th:text="${shop.id}">shop id</a></td>

                <td th:text="${shop.shopName}">shop name</td>
                <td th:text="${shop.pos}">shop pos</td>

            </tr>
            </tbody>
        </table>
    </div>

    <div th:replace="fragments/footer :: footer"/>
</div>
</body>
</html>